<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <style>
        h3{
            text-align:center;
            color: brown!important;
            font-family: Georgia, 'Times New Roman', Times, serif;
            text-decoration: underline;
            margin-bottom:24px;
            font-size:30px!important;
            font-weight: bolder!important;
            text-transform: capitalize;
            
            
        }
    </style>
    
</head>
{% extends 'base.html'%}
{% import 'macros.html'as macro%}

<body >
       
{%block content%}

<div style="background-color:whitesmoke ">
<div class="container">
<h1 class="text-center font-weight-bold text-uppercase;font-family: Georgia, 'Times New Roman', Times, serif">WELCOME TO NEWS HIGLIGHT </h1>
 


    <h3>Technology News</h3>
    {{ macro.displaySourceList(technology)}}


    <h3>Business News</h3>
    {{ macro.displaySourceList(business)}}

  
</body>
</html>